body{
     background-color: black;
     color:white;
     margin: 0;
     padding: 0;
}
.container{
    margin: 50px 50px 150px 150px;
}
button{
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}
