body{
    background-color: azure;
}
.container{
    padding: 150px 150px 0px 150px;
}
.clock{
    position: relative;
    background-color:lightblue;
    border-radius: 80%;
    width: 400px;
    height: 400px;
}
